<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header" />
<body>
<nav th:replace="fragments/navbar :: navbar" />
<form action="/posts/delete" method="post" th:object="${post}">
    Title:
    <input th:field="*{title}" />
    <br />
    Body:
    <input th:field="*{body}" />
    <br />
    <input type="submit" value="Delete Post" />
</form>

<footer th:replace="fragments/footer :: footer" />
<script th:replace="fragments/js :: js" />

</body>
</html>